body {
  /*font-family: 'Montserrat', sans-serif;*/
}
#actions-container {
  top: 0;
  left: 0;
  right: 0;
}
#joke-container {
  min-height: 200px;
  display: table;
}
.joke {
  display: inline-block;
  width: 100%;
}

#message {
  top: -65px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3000;
}
@media all and (min-width: 768px){
  #message {
    top: -35px;
  }
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1700ms;
  animation-duration: 1700ms;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}